@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

body{
    min-height: 100vh;
    display: grid;
    align-content: center;
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    color:hsl(0, 0%, 8%);
    justify-content: center;
}

*, ::after, ::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    font-family: 'Poppins', sans-serif; 
    font-size: 100px;
    font-style: italic;
    font-weight: 800;
    line-height: 1.15em;
}