.main{
  background-color: #fff;
}



.form{
  
  .input_container{
    display: flex;
    justify-content: center;
    div{
      display: flex;
      flex-direction: column;
    }
  }
  .submit{
    display: flex;
    align-items: center;
    &  *{
     flex: 50%;
      
    }
  }
}